<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
</style>
</head>
<body>

<p id="demo"></p>
<center><h1 style="color:black;font-size:40px;">Watch this video.</h1></center> 
</br>
<center>
<video width="300" height="300" autoplay="autoplay">
  <source src="../static/videos/walking.mp4" type="video/mp4"/>  		
Your Browser does not support the video element
</center>

</body>
</html>
